@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-mono: var(--font-geist-mono);

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
  .font-poppins {
  font-family: var(--font-poppins);
}
}
